/********** Body **********/
.topbox {
  background-color: #5a5a5a;
}

  .topbox-inner {
    text-align: center;
    padding: 2% 0% 1% 0%;
  }

  .proPic {
    width: 20%;
  }

  .topbox-h1 {
    color: white;
  }

.lowerBoxArt {
    width: 50%;
    margin: 0 auto;
  }

  .picBox {
    text-align: center;
  }

    .imgSize {
      height: 300px;
      width: 300px;
    }

  .lowerbox-p {
    margin: 3% 0 10% 0;
  }
